*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
}
 
/* ......................containar...................... */

.containar{
   
    
    width: 100%; 
     background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     position: fixed;
     top: 0;
     z-index: 100;
     position: relative;
    
}


.box{
  
 
    max-width:1320px;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content:space-between ;

   
   
   
    
}
.btn-menu button{
   
    background-color: transparent;
    height: 140%;
    width: 150%;
    border: 2px solid orange;
    color: orange;
    border-radius: 6px;
    font-size: 20px;
    
}

.nav{
  
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}
.hide-nav{
   
    width: 100%;
}
.nav1{
   
   margin: auto;
    width:100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav1 a{
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 5px 10px;
}
.nav2{
    
    font-size: 20px;
    width: 10%;
    gap: 20PX;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav1 a:hover{
    color: orange;
    background-color: gainsboro;
}
.nav2 i:hover{
    color: orange;
}



/* ......................containar-slider...................... */

.containar-slider{
   
    
    margin: auto;
    overflow-X:hidden;
} 

.slider{
   
   
    margin: auto;
    height: 100%;
    width: 300%;
    display: flex;
    animation: slider 15s ease-in none;
    
}
@keyframes slider{

    0%{
        margin-left: 0%;
    }
    10%{
        margin-left: 0%;
    }
    33.33%{
        margin-left: -100%;
    }
    44.44%{
        margin-left: -200%;
    }
    66.66%{
        margin-left: -200%;
    }
    77.77%{
        margin-left: -200%;
    }
    100%{
        margin-left: -200%;
    }
}
.slider-box{
   
   width: 100%;
   height: 100%;
}
.main-text{
   
    max-width: 1320px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chair-text{
   padding-top: 80px;
   
    height: 100%;
   width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
   
}
.chair-text h3{
    font-size: 30px;
   color:#998d80 ; 
    font-family:"Roboto", sans-serif;
}
.chair-text h1{
    font-size: 40px;
    color:#616060 ;
    font-family:"Roboto", sans-serif;
}
.chair-text p{
    font-size: 17px;
    color: #a09e9c;
    line-height: 30px;
    font-family:"Roboto", sans-serif;
}
.price{
    font-family:"Roboto", sans-serif;
    

}
del{
    color: #bbb9b9;
}

.button-box{
    display: flex;
}

.button1{
    width: 180px;
   height:60px;
   background-color: orange;
   border: none;
   color: white;
   font-size: 20px;
   text-align: center;
   
}
.button1:hover{
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
}
.button2{
    width: 180px;
    height:60px;
   background-color: transparent;
    border: none;
    color: orange;
    font-size: 18px;
    text-align: center;
    
}
.button2:hover{
    border: 1px solid orange;
}
.chair-box{
   
   width: 40%;
}
.chair-box img{
    width: 100%;
    padding: 30px;
}
.dottes {
    
    margin: auto;
   width: 60px;
   display: flex;
   justify-content: space-between;
   transform: translateY(-50px);
}

.dottes a{
    border: 2px solid orange;
    border-radius: 10px;
   
    padding: 4px;
}
.dottes a:hover{
   
   background-color: orange;
}

html{
    scroll-behavior: smooth;
}




/* ......................containar1...................... */


.containar1{
    max-width: 1320px;
    margin: auto;
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.containar1 > div{
    padding: 10px;
    
}

.box-1{
   
    width: 25%;
}

.box-2{
   
    width: 50%;
}

.box-2-img{
    
    width: 30%;
}
.box-2-text{
    font-family:"Roboto", sans-serif;
    font-size: 17px;
    width: 70%;
}
.box-2-text button{
    width: 120px;
    height: 40px;
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid black;
}
.box-2-text button:hover{
    background-color: rgb(88, 85, 85);
    color: white;
    border: none;
}

.box-1-1{
    
    background-color: #f8f9fd;
    height: 100%;
}
.box-1-1-text{
    font-family:"Roboto", sans-serif;
    text-align: center;
    font-size: 15px;
}
.box-1-1-text h2:hover{
    color: rgb(204, 133, 0);
}
.box-1-1-img{
    display: flex;
    justify-content: center;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
    
}



/* ......................containar2...................... */


.containar2{
    max-width: 1320px;
    margin: auto;
    padding: 70px;
}
.box2{
    font-family:"Roboto", sans-serif; 
    font-size: 35px;
    text-align: center;
    
}



/* ......................containar3...................... */


.containar3{
    max-width: 1320px;
    margin: auto;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
  
}
.box3{
    
    padding: 10px;
    width:25%;
    display:flex;

    justify-content: center;
    
}

.box3-wooden{
   
    width: 100%;;
}
.wooden-chair{
    background-color: #f8f9fd;
     height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
 

}
.sale{
    padding: 0px 17px 5px 17px;
    position: absolute;
    background-color: rgb(230, 151, 4);
    color: white;
    left: 76%;
    top: 3%;    
}

.sale-2{
   
    padding: 0px 17px 5px 17px;
    position: absolute;
   background-color: rgb(14, 192, 14);
   color: white;
    left: 76%;
    top: 3%;
    
    
}
.add{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;    
    background-color: black;
    width: 100%;
    transition: all 0.5s;
    display: flex;
   
}

.wooden-chair:hover .add{
    height: 30px;
    transition: all 0.5s;
  
}
.add-shopping{
    color: white;
     padding: 6px;
    font-size: 15px; 
    
}

.add b{
    color: white;
    padding: 6px;
    font-size: 15px;
}
.ri-heart-line{
    color: white;
   padding-left: 40%;
   padding-top: 6px;
}
.ri-fullscreen-line{
    color: white;
    padding-left: 5%;
    padding-top: 6px;
}

.wooden-chair::before{
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    top:50% ;
    left: 50%;
    transition: all 1s;
}
.wooden-chair:hover::before{ 
    top:0 ;
    left: 0;  
    height: 100%;
    width: 100%;
   background-color: #e5e7ec ;
}

.wooden-chair img{

    width: 100%;
    transition: all 1s;
    scale: 0.4;

    
}
.wooden-chair:hover img{
    transform: scale(1.4);
   
}

.box3-wooden h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family:"Roboto", sans-serif;
}
.box3-wooden h2:hover{
    color: rgb(204, 133, 0); ;
}
.box3-wooden p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}



/* ......................containar4...................... */


.containar4{
    max-width: 100%;
    margin-top: 100px;
   
  
}
.box4{
    height: 590px;
    background-image: url("img/table-banner.jpg");
    display: flex;
    position: relative;
   
   
}
.box4-a{
   
    width: 33.33%;
   
    background-color:#384042;
    opacity: 0.9;
    
  
}
.box4-b{
    
    position: absolute;
    left: 20%;
    top: 30%;
    
    
}
.box4-b h2{
   font-size: 30px;
   font-family:"Roboto", sans-serif ;
   color: white;
}
.box4-b P{
    color: white;
    font-size: 20px;
    font-family:"Roboto", sans-serif ;
    line-height: 25px;
}
.box4-b button{
    height:50px;
    width: 30%;
    color: white;
    background-color: orange;
    border: none    ;
}


/* ......................containar5...................... */


.containar5{
    max-width: 1320px;
    margin: auto;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
  
}
.box5{
    
    padding: 10px; 
    width:25%;
    display:flex;
    justify-content: center;
    
}
.wooden{
    background-color: #f8f9fd;
    margin-top: 20px;
    height: 300px;
    display:flex;

}
.wooden img{
    width: 100%;
    
}

.box5-wooden h5{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-family:"Roboto", sans-serif;
}
.box5-wooden h2{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}


.box5-wooden p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}



/* ......................containar6...................... */


.containar6{
    max-width: 1320px;
    margin: auto;
   
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
  
}
.box6{
   
     padding: 10px; 
    width:33.33%;
    display:flex;

    justify-content: center;
    
}
.box6-blog{
   
}
.latest-blog{
   background-color: #f8f9fd;
    margin-top: 20px;
    height: 300px;
    display:flex;
    position: relative;
}
.latest-blog::before{
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    top:50% ;
    left: 50%;
    transition: all 1s;

}
.latest-blog:hover::before{
    top:0 ;
    left: 0;  
    height: 100%;
    width: 100%;
   background-color: #2424253d ;
}
.latest-blog img{
    width: 100%;
    
}
.box6-blog h3{
    
    margin-top: 20px;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}
.box6-blog h3:hover{
    color: rgb(204, 133, 0);
}
.box6-blog h5{
    
    margin-top: 10px;
    font-size: 14px;
    color: #6b6c70;
    font-family:"Roboto", sans-serif;
}


.box6-blog p{
    
    margin-top: 15px;
    font-size: 15px;
    color: #4b4b4e;
    font-family:"Roboto", sans-serif;
}



/* ......................containar7...................... */

.containar7{
    max-width: 1320px;
    margin: auto;
    margin-top: 100px;
   
    overflow-x: hidden;
   

}

.box-7{
    
    display: flex;
    
}
.box-hm{
    
    width: 266px;
   padding: 70px;
    display: flex;
    justify-content: center;
}

/* ......................footer...................... */


.containar8{
   
  
    max-width: 1320px;
   padding-top: 80px;
   padding-bottom: 90px;
    margin: auto;
   
    display: flex;
    flex-wrap: wrap;
    
    
}
.box8{
   
    padding: 10px;
    width: 25%;
}
.box8 h1{
    
    font-size: 25px;
    font-family:"Roboto", sans-serif ;
    padding-bottom: 30PX;
}
.box8 p{
    padding-top: 15PX;
    font-size: 17px;
   font-family:"Roboto", sans-serif;
}
.box8 p:hover{
 color: rgb(228, 150, 6);
 padding-left: 10px;
}
.box8 b{
    font-weight: 400;
    font-size: 15px;
   font-family:"Roboto", sans-serif; 
}

.input-icon{
  position: relative;   
  margin-top: 40px;
}
.box8 input{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid white;
    border-radius: 5px;
    width:100%;
    height: 50PX;
}
.ri-send-plane-line{
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: orange;
    font-weight: 1000;
}
.box8 input:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* ......................footer-2...................... */

.containar9{
   
    max-width: 1320px;
    margin: auto;
    
    
}
.box-9{
   
    height: 100%;
    padding: 50px 0px;
}
.box-icon{
   
    width: 100%;
    font-size: 20PX;
    margin: auto;
   
    display: flex;
    align-items: center;
   flex-direction: column;
}
.icon{
   
    color: rgb(100, 94, 94);
    width: 50%;
    display: flex;
   justify-content: center;
   gap: 20px;
}
.icon > i:hover{
    color: rgb(230, 151, 5);
}
.icon-text{
    padding-top: 20px;
   
    width: 80%;
    font-family:"Roboto", sans-serif ;
    font-size: 15px;
    text-align: center;
}