@media (min-width: 991px) {
    .btn-menu{
        display: none;
       
    }
    .main-text{
        padding-top:200px
    }
    
}
@media( max-width:992px) {
    .hide-nav{
        max-width: 100%;
        display: none;
        position: absolute;
        left: 0%;
        top: 100%;
       border: none;
      
       background-color: white;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;`
    }
    .nav1 {
       
        display: flex;
        flex-direction: column;
        padding: 20px;
        
       line-height: 160%;
    }
    .nav{
        width: 25%;
    }
    
}





@media( max-width:992px) {
    .w-1{
        width: 100%;
    }
    .w-chair-1{
        width: 70%;
    }
    .box-1-1{
        max-width: 350px !important; 
        margin: auto;
    }
    .w-2{
        width:50%
    }
    .box {
        padding-right: 90PX;
    }
}


@media( max-width:991px){
    .w-3{
        width:33.33%;
    }
    
}

@media( max-width:771px){
    .w-3-1{
        width: 100%;
        margin: auto;
    }
    .w-3-1 > div{
        max-width: 350px;
    }
    .w-1{
        width: 100%;
    }
    
    
}
@media(max-width:486px){
    .box4-b{
        position: absolute;
    left: 0%;
    top: 10%;
    }
    .box4-a{
       
    }
}
